@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/

/*************************
*******Typography******
**************************/

body {
  background: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Poppins";
  color: #272727;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

#mainSection {
  background-color: #1d1d1d;
  color: #fff;
  height: 100%;
}

#mainSection h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
}

/* CHART */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 660px;
  margin: 1em auto;
  background-color: transparent;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f800;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff00;
}

#mainSection h2 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

span {
  display: inline;
}

.section-header span {
  background: #ededed;
  padding: 10px 10px 10px 0;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 21px;
  box-shadow: 0px 1px 2px 0px rgb(214 160 160 / 25%);
  border-top: solid 3px #0a84ca;
}

.section-header span::before {
  content: "";
  width: 0;
  height: 0;
  position: relative;
  top: -4px;
  left: -10px;
  font-size: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ededed;
}

i {
  position: relative;
  vertical-align: text-bottom;
}

p {
  margin-bottom: 0;
}

.mb35 {
  margin-bottom: 35px;
}

.imagine {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

[role="table"] {
  display: table;
  margin: 40px auto;
  border-radius: 8px;
  border: 1px solid #2f2f2f;
  border-top: 0;
  box-shadow: 0 2px 20px rgb(67 142 255 / 85%);
  box-sizing: border-box;
  overflow: hidden;
}

[role="table"] > div[id] {
  display: table-caption;
  font-style: italic;
}

[role="table"] [role="row"] {
  display: table-row;
  cursor: default;
}
.gradient [role="row"]:hover {
  background: #118fca;
  color: #ffffff;
  font-weight: 350;
  letter-spacing: 0.015em;
}
@media screen and (max-width: 500px) {
  [role="table"] [role="row"] span + span {
    width: 28%;
  }
}

[role="table"] [role="cell"],
[role="table"] [role="columnheader"] {
  display: table-cell;
  padding: clamp(0.25em, 4vw, 1em);
  width: 20em;
}

[role="table"] [role="columnheader"] {
  background: #2f2f2f;
  color: #fafafa;
  border-bottom: 3px solid black;
  font-weight: bold;
  border-bottom: thin solid #3b3b3b;
}

[role="table"] h3 {
  margin-top: 0;
}

.gradient {
  background: #4e4e4e;
  background: -moz-linear-gradient(top, rgb(44, 44, 44) 0%, #313131 100%);
  background: -webkit-linear-gradient(top, #252525 0%, #353535 100%);
  background: linear-gradient(to bottom, #414141 0%, #242424 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#8ed433',GradientType=0 );
  border-radius: 0 0 6px 6px;
}

.tittleLead {
  color: #fff;
}

.mainDiv {
  height: 70px;
  width: 100%;
  border-radius: 10px;
  /* background: #ff9400; */
}

a:hover,
a:focus {
  text-decoration: none;
  color: #fff;
  /* font-weight: 800; */
}

a {
  color: #121212;
  text-decoration: none;
}

a:hover {
  color: #4287e2;
  text-decoration: none;
}
.space {
  height: 80px;
}

.boxi,
.boxi1 {
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}
.boxi {
  font-size: 15px;
  font-weight: lighter;
  border-radius: 7px;
  background-color: #121212;
  border: 1px solid #ff950058;
  box-shadow: 5px 3px 8px #ff950074;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00000066;
  font-family: "Open Sans", sans-serif;
}
table {
  background: #121212;
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  height: 250px;
  border: 2px solid #1f1f1f;
  border-image-slice: 1;
  border: 1px solid #ff950051;
}
th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
.marginB {
  margin-bottom: 200px;
  background-color: #fff;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
footer {
  position: relative;
  background: rgb(21, 21, 21);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #000;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: rgb(87, 87, 87);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #ff9403;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #2c303a;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}

.typeOf {
  text-align: center;
  width: 100%;
  padding-top: 66px;
  padding-bottom: 66px;
}
.explain {
  height: auto;
  width: 91%;
  background-color: #121212;
  margin: auto;
  margin-right: 36px;
  padding-top: 2px;
  border-radius: 10px;
  border: 1px solid #ff9400;
  box-shadow: 5px 10px 18px #3f3f3f;
}
.terms {
  margin-top: 100px;
  width: 100%;
}
.explainW {
  height: auto;
  width: 91%;
  background-color: #ffffff;
  margin: auto;
  margin-right: 36px;
  border: 1px solid #ff9400;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #3f3f3f;
}
.explain h2 {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}
.disabled td {
  color: #4f5f64;
}

tbody tr:hover {
  background: #26262662;
}

p#blockNumber {
  margin-bottom: 0px;
}

p#networkDiff {
  margin-bottom: 0px;
}

p#circulatingSupply {
  margin-bottom: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .mainDiv {
    height: 100%;
    background-color: #1b315600;
    width: 100%;
    border-radius: 10px;
  }
  .explain {
    height: auto;
    width: 98%;
    background-color: #121212;
    padding-top: 2px;
    margin: auto;
    margin-left: 3px;
    border-radius: 10px;
  }
  .explainW {
    height: auto;
    width: 98%;
    background-color: #ffffff;
    padding-top: 2px;
    margin: auto;
    margin-left: 3px;
    border-radius: 10px;
  }
  body {
    background-color: #fff;
  }
  .typeOf {
    text-align: center;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 66px;
    background: #fff;
  }
  #mainSection h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
  }
  .col-xs-6 {
    width: 33%;
  }
  .boxi {
    font-size: 10px;
    font-weight: lighter;
    border-radius: 7px;
    background-color: #121212;
    color: white;
  }
  #miner_prop,
  #pplnsMiners,
  #deMiners,
  #zergMiners,
  #minersAika,
  #minersCo {
    text-align: center;
  }
  #mainSection {
    padding: 46px 0;
    background-color: #fff;
    color: #fff;
    height: 886px;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #e2b842;
    font-size: 0.75em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #mainSection {
    padding: 46px 0;
    background-color: #fff;
    color: #fff;
    height: 100%;
  }
  .typeOf {
    text-align: center;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 66px;
    background: #fff;
  }
  body {
    background-color: #fff;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  #mainSection {
    padding: 100px 0;
    background-color: #fff;
    color: #fff;
    height: 100%;
  }
  .typeOf {
    text-align: center;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 66px;
    background: #fff;
  }
  body {
    background-color: #fff;
  }
}
